footer.footer
  .inner
    .block
      .logo-footer
        a(href="/")
          +icon('logo-footer')
      .address
        a(href="/") москва, рязанский проспект, 26
      .email
        a(href="mailto:welcome@get-balance.ru") welcome@get-balance.ru
    .block
      .logo-glavstroy
        a(href="/")
          +icon('logo_glavstroy')
      .agreement
        a(href="/") соглашение об обработке персональных данных
      .privacy
        a(href="/") политика конфиденциальности
