@import 'layouts/header';
@import 'layouts/global';
@import 'layouts/footer';

body {
  .wrapper {
    .inner {
      max-width: 1620px;
      margin: 0 auto;
      @include media-laptop {
        max-width: 1024px;
      }
      section {
        margin-top: 100px;
        &:last-child {
          margin-bottom: 150px;
        }
        .head {
          display: flex;
          justify-content: center;
          align-self: center;
          font: 400 56px/1 $font;
          color: $black;
          text-align: center;
          span {
            display: inline-flex;
            width: 90px;
            height: 90px;
            justify-content: center;
            align-items: center;
            margin-right: 40px;
            border: 3px solid $black;
          }
        }
        .text {
          display: flex;
          width: 80%;
          justify-content: center;
          font: 400 26px/40px $font;
          color: $black;
          margin: 40px auto 0 auto;
          a {
            display: inline-block;
            height: auto;
            color: #29b1ff;
            text-decoration: underline;
            transition: 0.3s;
            &:hover {
              text-decoration: none;
            }
          }
        }
        .img-block {
          display: flex;
          justify-content: center;
          margin-top: 70px;
          margin-bottom: 40px;
          &:last-child {
            margin-bottom: 0;
          }
          img {
            margin-right: 40px;
            &:last-child {
              margin-right: 0;
            }
          }
        }
        .slider-scroll {
          margin-top: 100px;
          &-block {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 30px;
            &:last-child {
              margin-bottom: 0;
            }
          }
          &-img {
            margin-right: 30px;
            &:last-child {
              margin-right: 0;
            }
          }
        }
        .store {
          text-align: center;
          .link-store {
            display: inline-block;
            font: 700 24px $font;
            color: $white;
            border-radius: 10px;
            background: #fe632d;
            padding: 20px 55px 25px 55px;
            margin-top: 60px;
            border: 2px solid #fe632d;
            transition: 0.5s;
            &:hover {
              color: #fe632d;
              background: $white;
            }
          }
        }
      }
      section.section {
        &-3,
        &-5 {
          .text {
            display: block;
          }
        }
        &-5 {
          .img-block {
            margin-top: 0;
            &:nth-child(3) {
              margin-top: 70px;
            }
          }
        }
        &-7 {
          .text {
            text-align: center;
          }
        }
      }
    }
  }
}
