@import 'layouts/header';
@import 'layouts/global';
@import 'layouts/footer';

body {
  .wrapper {
    .top-block {
      width: 100%;
      height: 100vh;
      min-height: 900px;
      background: url('../img/image_1.jpg') 50% 0;
      background-size: cover;
      z-index: 1;
      margin-top: -249px;
      &-text {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        color: $white;
        text-align: center;
        margin-top: 150px;
        h1 {
          font: 700 100px/1.2 $font;
        }
      }
    }
    .inner {
      max-width: 1620px;
      margin: 0 auto;
      @include media-laptop {
        max-width: 1024px;
      }
      section {
        margin-top: 100px;
        &:last-child {
          margin-bottom: 150px;
        }
        .head {
          display: flex;
          justify-content: center;
          align-self: center;
          font: 400 56px/1 $font;
          color: $black;
          text-align: center;
          span {
            display: inline-flex;
            width: 90px;
            height: 90px;
            justify-content: center;
            align-items: center;
            margin-right: 40px;
            border: 3px solid $black;
          }
        }
        .text {
          display: flex;
          width: 80%;
          justify-content: center;
          font: 400 26px/40px $font;
          color: $black;
          margin: 40px auto 0 auto;
          a {
            display: inline-block;
            height: auto;
            color: #29b1ff;
            text-decoration: underline;
            transition: 0.3s;
            &:hover {
              text-decoration: none;
            }
          }
        }
        .img-block {
          display: flex;
          justify-content: center;
          margin-top: 70px;
          margin-bottom: 40px;
          &:last-child {
            margin-bottom: 0;
          }
          img {
            margin-right: 40px;
            &:last-child {
              margin-right: 0;
            }
          }
        }
        .slider-scroll {
          margin-top: 100px;
          &-block {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 30px;
            &:last-child {
              margin-bottom: 0;
            }
          }
          &-img {
            margin-right: 30px;
            &:last-child {
              margin-right: 0;
            }
            img {
              max-width: none;
            }
          }
        }
        .store {
          text-align: center;
          .link-store {
            display: inline-block;
            font: 700 24px $font;
            color: $white;
            border-radius: 10px;
            background: #fe632d;
            padding: 20px 55px 25px 55px;
            margin-top: 60px;
            border: 2px solid #fe632d;
            transition: 0.5s;
            &:hover {
              color: #fe632d;
              background: $white;
            }
          }
        }
        .skroll-animation-1 {
          height: 100vh;
          .img-block-animation-1 {
            position: relative;
            top: 5%;
            .img-1 {
              position: absolute;
              top: 0;
              width: 100%;
              height: auto;
              z-index: 3;
            }
            .img-2 {
              position: absolute;
              top: 0;
              width: 100%;
              height: auto;
              z-index: 2;
            }
            .img-3 {
              position: absolute;
              top: 0;
              width: 100%;
              height: auto;
              z-index: 1;
            }
          }
          .img-1.skrollable-between {
            position: fixed;
          }
          .img-2.skrollable-between {
            position: fixed;
          }
          .img-3.skrollable-between {
            position: fixed;
          }
        }
        .skroll-animation-2 {
          height: 1500px;
          margin-top: 70px;
          margin-bottom: 40px;
          .img-block-animation-2 {
            position: relative;
            display: flex;
            height: auto;
            justify-content: center;
            align-items: center;
            .animation-1 {
              position: relative;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100%;
              height: auto;
              z-index: 1;
              .animation-2 {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #000;
                z-index: -1;
              }
            }
            .animation-3 {
              position: absolute;
              display: flex;
              width: 70%;
              height: 100%;
              justify-content: center;
              align-items: flex-start;
              flex-wrap: wrap;
              text-align: center;
              z-index: 2;
              .head {
                width: 100%;
                align-self: flex-end;
                color: $white;
                span {
                  border-color: $white;
                }
              }
              .text {
                width: 100%;
                color: $white;
              }
            }
          }
        }
      }
      section.section {
        &-3,
        &-5 {
          .text {
            display: block;
          }
        }
        &-4 {
          .img-block {
            img {
              &:last-child {
                z-index: -1;
              }
            }
          }
        }
        &-5 {
          .img-block {
            margin-top: 0;
            &:nth-child(3) {
              margin-top: 70px;
            }
          }
        }
        &-7 {
          .text {
            text-align: center;
          }
        }
      }
    }
  }
}
// transform: perspective(0) rotateY(0deg);
// transform: perspective(700px) rotateY(-30deg);
