extends layouts/layout

block variables
  -var pageTitle ='Главная'

block content
  main
    .top-block
      .top-block-text
        h1 7 способов сделать
          br
          | вечер лучше
    .inner
      section.section-1
        .head
          span 1
          | зонирование
        .text
          | можно разделить комнату и без высоких стеллажей или занавесок из бусинок: ковры тоже отлично
          | обозначают, где какое пространство. в кухне-гостиной с их помощью можно отделить столовую от зоны
          | отдыха. пока родители пьют вечерние чаи за столом, дети могут валяться на диване, смотреть телевизор,
          | читать или рисовать: даже если все занимаются своими делами, семья всё равно вместе.
        .img-block(data-top="width: 100%; transform: perspective(0) rotateY(0deg);" data-bottom="width: 50%; transform: perspective(700px) rotateY(-30deg);")
          img(src="img/image_2.jpg", alt="image_2.jpg")
      section.section-2
        .head
          span 2
          | цветы на полу
        .img-block
          img(src="img/image_3.jpg", alt="image_2.jpg")
      section.section-3
        .head
          span 3
          | темные тона
        .text
          | не очень популярная гамма для оформления интерьера, а зря — в темных тонах все выглядит солидно,
          | да и гости на такой декор скажут уважительное «вау». особенно выигрышно он смотрится с угловым
          | остеклением; в balance
          a(href="/") есть такие квартиры
          | . усталыми вечерами здесь хорошо бездумно сидеть перед
          | панорамой заката с бокалом в руках.
        .slider-scroll
          .slider-scroll-block
            .slider-scroll-img
              img(src="img/image_10.jpg", alt="image_4.jpg")
            .slider-scroll-img
              img(src="img/image_9.jpg", alt="image_4.jpg")
            .slider-scroll-img
              img(src="img/image_8.jpg", alt="image_4.jpg")
            .slider-scroll-img
              img(src="img/image_7.jpg", alt="image_4.jpg")
          .slider-scroll-block
            .slider-scroll-img
              img(src="img/image_13.jpg", alt="image_4.jpg")
            .slider-scroll-img
              img(src="img/image_14.jpg", alt="image_4.jpg")
            .slider-scroll-img
              img(src="img/image_15.jpg", alt="image_4.jpg")
      section.section-4
        .head
          span 4
          | зона спорта
        .text
          | не самая очевидная идея, но в кухне-гостиной может поместиться зона для тренировок: стоит поставить
          | в угол стойку с гантелями, а перед диваном бросить спортивный коврик. это должно мотивировать.
          | во-первых, сам вид гантелей напомнит о том, какие у тебя будут железные мускулы через несколько
          | месяцев. во-вторых, заниматься перед окном с видом приятнее, чем уткнувшись в стенку.
        .img-block
           img(src="img/image_18.jpg", alt="image_4.jpg")
           img(src="img/image_18.jpg", alt="image_4.jpg")
      section.section-5
        .head
          span 5
          | цветные элементы
        .text
          | любой дизайн можно обновить с помощью трех ярких элементов. стоит подобрать светильник, постер
          | на стену и обивку кресел в тон — и все заиграет новыми красками. да и в целом это самый простой
          | и незатратный вариант смены классики на что-то модное. представь, что вместо розового постера здесь
          | черно-белое фото, серый светильник и черная обивка кресел, — и перед тобой окажется самый
          | что ни на есть сдержанный интерьер. такая вариативность хорошо сочетается
          a(href="/") с базовой светлой отделкой
          | — ты всегда сможешь быстро что-то поменять, если захочется новизны.
        .img-block
          img(src="img/image_20.jpg", alt="image_4.jpg")
          img(src="img/image_21.jpg", alt="image_4.jpg")
        .img-block
          img(src="img/image_22.jpg", alt="image_4.jpg")
          img(src="img/image_23.jpg", alt="image_4.jpg")
        .img-block
          img(src="img/image_24.jpg", alt="image_4.jpg")
          img(src="img/image_25.jpg", alt="image_4.jpg")
      section.section-6
        .head
          span 6
          | проектор
        .img-block
          img(src="img/image_26.jpg", alt="image_4.jpg")
      section.section-7
        .head
          span 7
          | высокий стол и диван рядом
        .text
          | хорошо, когда в кухне-гостиной-столовой есть разные варианты посадочных мест. сегодня у тебя
          | официальное настроение, ты готов разложить несколько вилок, постелить на колени салфетку,
          | зажечь свечи и устроить ужин по всем правилам, а завтра тебе хочется есть, валяясь на диване
          | перед телевизором? поставь в гостиной и то, и это. в конце концов, возможность каждый день
          | немного менять привычные действия делает жизнь гораздо интереснее.
        .img-block
          img(src="img/image_27.jpg", alt="image_4.jpg")
        .img-block
          img(src="img/image_28.jpg", alt="image_4.jpg")
        .text
          | понравились картинки? это реальные планировки balance. и если ты купишь
          | здесь квартиру, ты сможешь устроить в ней абсолютно то же самое.
          | французские балконы, панорамное остекление, большие окна…
          | взгляни, какие у нас есть варианты планировок.
        .store
          a.link-store(href="/") интернет-магазин квартир
