extends layouts/layout

block variables
  -var pageTitle ='Главная'

block content
  main
    .inner
      section.section-1
        .head
          span 1
          | зонирование
        .text
          | можно разделить комнату и без высоких стеллажей или занавесок из бусинок: ковры тоже отлично 
          | обозначают, где какое пространство. в кухне-гостиной с их помощью можно отделить столовую от зоны 
          | отдыха. пока родители пьют вечерние чаи за столом, дети могут валяться на диване, смотреть телевизор, 
          | читать или рисовать: даже если все занимаются своими делами, семья всё равно вместе. 
        .img-block
          img(src="img/image_2.jpg", alt="image_2.jpg")
      section.section-2
        .head
          span 2
          | цветы на полу
        .img-block
          img(src="img/image_3.jpg", alt="image_2.jpg")
      section.section-3
        .head
          span 3
          | темные тона 
        .text
          | не очень популярная гамма для оформления интерьера, а зря — в темных тонах все выглядит солидно, 
          | да и гости на такой декор скажут уважительное «вау». особенно выигрышно он смотрится с угловым 
          | остеклением; в balance 
          a(href="/") есть такие квартиры
          | . усталыми вечерами здесь хорошо бездумно сидеть перед 
          | панорамой заката с бокалом в руках. 