$font: 'TRYClother', 'Arial', sans-serif;

$black: #151515;
$white: #fff;

$mediaWidthLaptop-plus: 1630px;
$mediaWidthLaptop: 1366px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthTablet: 768px;
$mediaWidthMobile: 450px;
