@import '../mixins/media';

.header {
  position: relative;
  padding-top: 50px;
  z-index: 2;
  &-logo {
    width: 238px;
    height: 49px;
    a {
      display: block;
      svg {
        height: 50px;
      }
    }
  }
}
